body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  background-image: url(../img/ar.png), url(../img/boneco.png);
  background-position: left 107%, right 122%;
  background-size: 25%, 30%;
  background-repeat: no-repeat;
}

@keyframes snow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1% 10000px;
  }
}

.snow_wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url("../img/neve.png");
  background-size: cover 1%;
  animation: snow 100s linear infinite;
  overflow: hidden;
  z-index: -1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background: linear-gradient(
    325deg,
    #fbd566 10%,
    #6dc95a 40%,
    #07633a 70%,
    #e7282f 100%
  ); */

  padding: 40px 60px;
}

h2 {
  font-size: 6rem;
  color: #9b0f0f;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: "Mountains of Christmas", cursive;
}

.reset {
  padding: 15px 20px;
  width: 30%;
  color: #fff;
  box-shadow: 0px 0px 41px -16px rgba(202, 4, 4, 0.39) inset;
  -webkit-box-shadow: 0px 0px 41px -16px rgba(202, 4, 4, 0.39) inset;
  -moz-box-shadow: 0px 0px 41px -16px rgba(202, 4, 4, 0.39) inset;
  background-color: #747070;
  border: none;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
}

.reset:focus {
  color: #d40707;
  background-color: rgb(13, 112, 13);
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 10px;
  font-size: 3rem;
  transform: rotateY(180deg);
  transition: 0.25s;
  border: 1px solid #9c9a9a;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(97, 8, 8);
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxOpenmatch::after {
  transform: rotateY(180deg);
}

#audioEscondido {
  display: none;
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
  .container {
    padding: 20px 30px;
  }

  h2 {
    text-align: center;
    font-size: 4rem;
  }
  body {
    background-position: left 102%, right 104%;
  }

  .item {
    width: 100px;
    height: 100px;
    font-size: 2rem;
  }
}

/* Estilos para telas menores que 480px */
@media (max-width: 480px) {
  .container {
    padding: 15px;
    margin: auto;
  }

  h2 {
    text-align: center;
    font-size: 4rem;
  }

  body {
    background-position: left 101%, right 102%;
  }

  .item {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
  }
}

/* Estilos para telas menores que 320px */
@media (max-width: 320px) {
  .container {
    padding: 10px;
  }
  .game {
    width: auto;
    height: auto;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
  }

  .item {
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
  }
}
